
body{
    margin: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
.name-style{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;

}
.half-width img{
    width: 80%;
}
p{  font-weight: 500;
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon , tomato);
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 800;

}
.link-button:hover{
    color: greenyellow;
}
h3{
    color: tomato;
}
.first-section{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.second-section{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box-shadow{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.last-section{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border-1{
    border-image: linear-gradient(cyan, gold);
    border-left: 8px solid;
    border-image-slice: 1;

}
#border-2{
    border-image: linear-gradient(lightsalmon, cyan);
    border-left: 8px solid;
    border-image-slice: 1;

}
footer p{
    text-align: center;
}